body{
    background: #C4C6E7
}

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  

  .header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #A4A8D1;
    padding: 2%;
    text-align: center;
    font-size: 100%;
  }
  

  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 2% 3%;
    text-decoration: none;
  }
  

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

 .logo{
    width: 6vw;
    height: 8.6vh;
    margin-right: 100%;
    border-radius: 20%;
 }


 .text{
    margin-bottom: 5%;
 }

 .card {
    position: relative;
    box-shadow: 0 2% 4% 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 10%;
    margin-left: 12%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 1% 4%;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .burger{
    width: 10vw;
  } .cards{
    display: flex;
  }

  .line2{
    display: flex;
  }
 

  .card{
    background-color: #ffffff45;
    margin: 5px;
    border-radius: 5px;
    width: 31%;
    flex-grow:1;
  }